<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoWebHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\a7790\AppData\Local\Programs\Python\Python39\python.exe|E:\project date\django_project\myobject\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>